<!-- Twitter cards -->
<meta name="twitter:card" content="Die lange Tradition der Einzelfälle in CDU und CSU." />
<meta name="twitter:title"   content="{{ Clan-Kriminalität }}">

{% if page.summary %}
<meta name="twitter:description" content="{{ Die lange Tradition der Einzelfälle in CDU und CSU. }}">
{% else %}
<meta name="twitter:description" content="{{ Die lange Tradition der Einzelfälle in CDU und CSU. }}">
{% endif %}

{% if page.image %}
<meta name="twitter:card"  content="summary_large_image">
<meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
{% else %}
<meta name="twitter:card"  content="Die lange Tradition der Einzelfälle in CDU und CSU.">
{% endif %}
<!-- end of Twitter cards -->
